# Binaries
bin/
*.exe
*.dll
*.so
*.dylib
parsa
parsa-api

# Environment files
.env
.env.local
.env.production
.env.backup

# Go
*.test
*.out
vendor/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.claude/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Keys
*.p8
*.key
*.pem
*.crt
*.cer
*.pfx
*.p12
*.jks
*.cer
*.crt
*.pem
*.pfx
*.p12

# Others
CLAUDE.md
transactions.json
accounts.json
openfinanceproviderapi.json
todos.txt
scripts/

#Working migrations 
/*.sql

#Dump Directory
dump/
